.Profile{
  text-align: center;
  background-color: white;
  width: 500px;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 700px;
  -webkit-box-shadow: 0px 3px 15px 1px rgba(138,138,138,.3);
  -moz-box-shadow: 0px 3px 15px 1px rgba(138,138,138,.3);
  box-shadow: 0px 3px 15px 1px rgba(138,138,138,.3);
  border-radius: 5px;
}
.Profile-header{
  height: 200px;
}
.Profile-cover, .Profile-image{
  position: relative;
}
.cover-image{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.Profile-cover{
  width: 100%;
  height: 150px;
}
.Profile-cover-input{
  width: 100%;
}
.Profile-image{
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -50px;
}
.Profile-image > .user-image{
  position: absolute;
  background-color: white;
}
.Profile-cover-input > .react-file-reader, .Profile-image-input > .react-file-reader{
  position: absolute;
  z-index: 9999;
}
.user-image{
  background-size: cover!important;
  border-radius: 5px;
}
.profile-btn{
  width: 10px;
  height: 10px;
}
.Profile-cover-input{
  position: relative;
}
.Profile-cover-input > .react-file-reader{
  position: absolute;
  right: 0;
}
.cover-btn{
  position: absolute;
  width: 25px;
  height: 25px;
  top: 20px;
  right: 20px;
  z-index: 9999;
  opacity: 0;
  cursor: pointer;
}
.change-cover-img{
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 18px;
  top: 18px;
}
.Profile-name{
  font-family: 'Playfair Display', sans-serif;
  font-weight: 900;
  font-size: 2em;
  margin: 0;
}
.Profile-mail{
  margin: 5px 0 5px 0;
  opacity: .6;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.Profile-image-input{
position: relative;
}
.Profile-image-input > .react-file-reader{
  position: absolute;
  right: 0;
}
.profile-btn{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  opacity: 0;
}
.profile-btn-img{
  width: 32px;
  height: 32px;
  position: absolute;
  right: 7px;
  top: 8px;
}
.Profile-data{
  box-sizing: border-box;
  padding: 0 0 25px 0;
}
.Profile-messages{
  padding-top: 15px;
  text-align: left;
  width: 80%;
  margin: 0 auto;
}
.SingleMessage{
  font-family: 'Open Sans', sans-serif;
  color: #4b4b4b;
  border-bottom: 1px solid rgba(0,0,0,.1);
  font-size: 14px;
  min-width: 300px;
  display: block;
  padding: 15px 0;
  transition: height 200ms ease-in-out;
}
.SingleMessage > div[contenteditable="true"]{
  color: #4b4b4b;
}
.SingleMessage:hover{
  opacity: .8;
}
.SingleMessage:hover .SingleMessage-bottom, .SingleMessage:focus .SingleMessage-bottom {
  opacity: 1;
}
.SingleMessage-delete{
  font-weight: bold;
  color: red;
  position: relative;
<<<<<<< HEAD
  display: inline-block;
=======
  top: 7px;
  display: inline-block;
  opacity: 1;
>>>>>>> b1cbbe5930ee4315c4509843a8bd4d163cbab14a
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}
.SingleMessage-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  user-select: none;
}
.SingleMessage-edit-para{
  color: #4b4b4b;
  opacity: .5;
  font-family: 'Open Sans', sans-serif;
}
.SingleMessage:hover .SingleMessage-delete{
  display: inline-block;
  opacity: 1;
}
.Profile-messages > .SingleMessage:last-child{
  border: none!important;
}
.Profile-msg-input{
  display: block;
  margin: 0 auto;
  resize: none;
  height: 80px;
  width: 80%;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  border: 4px double rgba(0,0,0,.1);

}
.Profile-msg-input::placeholder{
  font-family: 'Open Sans', sans-serif;
  opacity: .6;
}
.Profile-message-remaining-length{
  display: inline;
  opacity: .4;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position: relative;
  top: 8px;
}
.Profile-new-msg-form{
  padding: 0 25px;
  box-sizing: border-box;
}
.Profile-data > a{
  color: rgb(136,183,101);
  font-size: 14px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}
.submit-parent{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 85%;
  margin: 10px auto;
}
.Profile input[type="submit"]{
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  background: rgb(136,183,101);
  border: none;
  background: rgb(136,183,101);
  background: -moz-linear-gradient(top, #92df85 0%, #95b972 100%);
  background: -webkit-linear-gradient(top, #92df85 0%,#95b972 100%);
  background: linear-gradient(to bottom, #92df85 0%,#95b972 100%);
  padding: 15px 35px;
  margin-top: 10px;
  position: relative; 
  text-align: left;
  border-radius: 5px;
}
.Profile [type="submit"]:disabled{
  filter: grayscale(100%);
}
.SingleMessage-footer{
  display: flex;
  position: relative;
  top: 5px;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
.SingleMessage:hover, .SingleMessage:focus{
  opacity: .9;
}
.SingleMessage-edit{
  color: #4b4b4b;
  opacity: .8;
}
.SingleMessage:hover .SingleMessage-footer{
  opacity: 1;
}
@media screen and (max-width: 768px){
  .Profile{
    max-width: 90%;
  }
}

@media screen and (max-width: 550px){
  .Profile{
    width: 80%;
  }
  .SingleMessage{
    min-width: auto;
  }
}
@media screen and (max-width: 400px){
  .submit-parent{
    flex-direction: column;
  }
}