body, html {
  margin: 0;
<<<<<<< HEAD
  padding: 50px;
=======
>>>>>>> b1cbbe5930ee4315c4509843a8bd4d163cbab14a
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('images/bg-pattern.png');
}
#root{
  width: 100%;
}

@media screen and (max-width: 550px){
  body, html{
    padding: 25px 0;
  }
}